body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
    height: 2000px;
}
a{
    text-decoration: none;
    color: #333;
}
img{
    display: block;
}
.notice{
	background-color: #333;
}
/*VISUAL*/

.visual .inner {
    height: 646px;
}
.visual .title {
    position: absolute;
    top: 40px;
    left: -10px;
}
.visual .title .btn {
    position: absolute;
    top: 230px;
    left: 148px;
}
.visual .cup1.image {
    position: absolute;
    bottom: 0;
    right: -47px;
}

.visual .spoon {
    position: absolute;
    bottom: 0;
    left: 275px;
}
.visual .fade-in {
    opacity: 0;
}
/*BUTTON*/
.btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    display: block;
    transition: .4s;
}
.btn:hover {
    background-color: #333;
    color: #FFF;
}
.btn.btn--reverse {
    background-color: #333;
    color: #FFF;
}
.btn.btn--reverse:hover {
    background-color: transparent;
    color: #333;
}
.btn.btn--brown {
    color: #592B18;
    border-color: #592B18;
}
.btn.btn--brown:hover {
    color: #FFF;
    background-color: #592B18;
}

.btn.btn--white {
    color: #FFF;
    border-color: #FFF;
}
.btn.btn--white:hover {
    color: #333;
    background-color: #FFF;
}
.visual .fade-in{
    opacity: 0;
}

/*BADGES*/
header .badges {
    position: absolute;
    top: 342px;
    right: 12px;
}
header .badges .badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.15);
    cursor: pointer;
}
/*NOTICE*/
.notice .bg-left {
    width: 50%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
}
.notice .bg-right {
    width: 50%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
}
.notice .inner {
    height: 62px;
    display: flex;
}
.notice .inner__left {
    width: 70%;
    background-color:#333;
    display: flex;
    align-items: center;
}
.notice .inner__left h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
    margin-left: 25px;
    width: 80px;
}
.notice .inner__left .swiper {
    height: 62px;
    flex-grow: 1;
}
.notice .inner__left .swiper .swiper-slide {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 10px;
}
.notice .inner__left .swiper .swiper-slide a {
    color: #fff;
}
.notice .inner__left .notice-more {
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice .inner__left .notice-more .material-icons {
    color: #fff;
    font-size: 30px;
}
.notice .inner__right {
    background-color: #333;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.notice .inner__right h2 {
    font-size: 17px;
    font-weight: 700;
}
.notice .inner__right .toggle-promotion {
    width: 62px;
    height: 62px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*PROMOTION*/
.promotion.hide {
    height: 0;
}
.promotion .swiper {
    /* 819px 슬라이드 3개와 그 사이 여백 10px씩 = 2477px */
    width: calc(819px * 3 + 10px * 2);
    height: 553px;
    flex-shrink: 0;
}
.promotion .swiper-slide {
    position: relative;
    opacity: .5;
    transition: opacity 1s;
}
.promotion .swiper-slide-active {
    opacity: 1;
}
.promotion .swiper-slide .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.promotion .swiper-pagination {
    bottom: 40px !important;
    z-index: 1;
}
.promotion .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    background-image: url("../img/slide_pager.png");
    width: 13px;
    height: 12px;
    margin-right: 6px;
}
.promotion .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url("../img/slide_pager_on.png");
}
.promotion .swiper-button-prev,
.promotion .swiper-button-next {
    width: 42px;
    height: 42px;
    border: 2px solid #333;
    border-radius: 50%;
    top: 300px;
    z-index: 1;
    color: #333;
}
.promotion .swiper-button-prev {
    left: 35%;
    margin-left: -480px;
}
.promotion .swiper-button-next  {
    right: 35%;
    margin-right: -480px;
}
.promotion .swiper-button-prev:hover,
.promotion .swiper-button-next:hover {
    background-color: #5476e7;
    color: #5476e7;
}
.promotion .swiper-button-prev::after,
.promotion .swiper-button-next::after {
    display: none;
}

/*PICK YOUR FAVORITE*/
.pick-your-favorite {
    background-image: url("../img/favorite_bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.pick-your-favorite .inner {
    padding: 110px 0;
}
.pick-your-favorite .text-group {
    width: 362px;
    margin-left: 100px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.pick-your-favorite .text-group .title {
    margin-bottom: 40px;
}
.pick-your-favorite .text-group .description {
    margin-bottom: 40px;
}
/*BACK TO POSITION*/
.back-to-position {
    opacity: 0;
    transition-duration: 1s;
}
.back-to-position.to-left {
    transform: translateX(150px);
}
.back-to-position.to-right {
    transform: translateX(-150px);
}
.show .back-to-position {
    opacity: 1;
    transform: translateX(0);
}
.show .back-to-position.delay-1 { transition-delay: .3s; }





/*FOOTER*/
footer {
    background-color: #272727;
    border-top: 1px solid #333;
}
footer .inner {
    padding: 40px 0 60px 0;
}
footer .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
footer .btn-group .btn {
    font-size: 12px;
    margin-right: 10px;
}
footer .btn-group .btn:last-child {
    margin-right: 0;
}
footer .info {
    margin-top: 30px;
    text-align: center;
}
footer .info span {
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}
footer .info span:last-child {
    margin-right: 0;
}
footer .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}



/*SCROLL TO TOP*/
#to-top {
    position: fixed;
    bottom: 30px;
    right: 88px;
    z-index: 9;
    width: 42px;
    height: 42px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header img{
    width : 500px;
    height: 170px;
}

#header p{
    font-size : 70px;
    margin-top : 50px;
    margin-bottom: 2%;

}


#subway img{
    width : 300px;
    height: 150px;
}

#subway p{
    font-size : 30px;
    margin-top : 50px;
    margin-bottom: 2%;

}

#subway h2{
    font-size: 14px;
}

/*PROMOTION*/
.promotion {
    display: flex;
    justify-content: center;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    height: 663px;
    transition: height .4s;
    width: 80%;
    margin: 0 auto;
}
.promotion.hide {
    height: 0;
}
.promotion .swiper {
    /* 819px 슬라이드 3개와 그 사이 여백 10px씩 = 2477px */
    width: calc(819px * 3 + 10px * 2);
    height: 553px;
    flex-shrink: 0;
}
.promotion .swiper-slide {
    position: relative;
    opacity: .5;
    transition: opacity 1s;
}
.promotion .swiper-slide-active {
    opacity: 1;
}
.promotion .swiper-slide .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.promotion .swiper-pagination {
    bottom: 40px !important;
    z-index: 1;
}
.promotion .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    background-image: url("../img/slide_pager.png");
    width: 13px;
    height: 12px;
    margin-right: 6px;
}
.promotion .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url("../img/slide_pager_on.png");
}
.promotion .swiper-button-prev,
.promotion .swiper-button-next {
    width: 42px;
    height: 42px;
    border: 2px solid #5476e7;
    border-radius: 50%;
    top: 300px;
    z-index: 1;
    color: #5476e7;
}
.promotion .swiper-button-prev {
    left: 35%;
    margin-left: -480px;
}
.promotion .swiper-button-next {
    right: 35%;
    margin-right: -480px;
}
.promotion .swiper-button-prev:hover,
.promotion .swiper-button-next:hover {
    background-color: #5476e7;
    color: #fff;
}
.promotion .swiper-button-prev::after,
.promotion .swiper-button-next::after {
    display: none;
}


body {
    background-color: #ffffff;
    font-family: 'Anton', sans-serif;
}
div{
    display : block;
    
}
header{
    text-align : center;
}

subway{
    text-align : center;
}
.map > div:first-child  {
    margin: 0 auto;
}

/*BUTTON*/
.btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #5476e7;
    border-radius: 4px;
    box-sizing: border-box;
    color: #5476e7;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    display: block;
    transition: .4s;
}
.btn:hover {
    background-color: #5476e7;
    color: #FFF;
}
.btn.btn--reverse {
    background-color: #5476e7;
    color: #FFF;
}
.btn.btn--reverse:hover {
    background-color: transparent;
    color: #333;
}
.btn.btn--brown {
    color: #592B18;
    border-color: #592B18;
}
.btn.btn--brown:hover {
    color: #FFF;
    background-color: #592B18;
}

.btn.btn--white {
    color: #FFF;
    border-color: #FFF;
}
.btn.btn--white:hover {
    color: #333;
    background-color: #FFF;
}


/*FOOTER*/
footer {
    background-color: #272727;
    border-top: 1px solid #333;
}
footer .inner {
    padding: 40px 0 60px 0;
}
footer .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
footer .btn-group .btn {
    font-size: 12px;
    margin-right: 10px;
}
footer .btn-group .btn:last-child {
    margin-right: 0;
}
footer .info {
    margin-top: 30px;
    text-align: center;
}
footer .info span {
    margin-right: 20px;
    color: #999;
    font-size: 12px;
}
footer .info span:last-child {
    margin-right: 0;
}
footer .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
}

/* 프로모션 미디어쿼리 */
@media (min-width: 600px) and (max-width: 900px) {
	.promotion {
		height: auto;
	}	
	
	.swiper-slide img {
		max-width: 70%;
		height: auto;
		margin: 0 auto;
	}
	
	.promotion .swiper-slide-active {
		height: 60%;
	}
		
	.promotion .swiper-slide .btn {
		bottom: -50px;
	}
}

@media (min-width: 375px) and (max-width: 599px) {
	.promotion {
		height: 20%;
	}	
	
	.promotion .swiper-slide img {
		max-width: 40%;
		height: auto;
		margin: 0 auto;
	}
	
	.promotion .swiper-slide-active {
		height: 40%;
	}
	
	.promotion .swiper-slide .btn {
		bottom: -50px;
	}
}
