



/* (min-width 가로 해상도가 375px 보다 큰 화면에 적용) and  (max-width 가로 해상도가 575px 작은 화면에 적용) */
@media ( min-width : 375px) and (max-width: 575px) {
   
   .btn-info{
   width: 20% !important;
   }
   
   .btn-default{
   width: 20% !important;
   }
   
   .btn-danger{
   width: 20% !important;
   }
   
}

/* (min-width 가로 해상도가 576px 보다 큰 화면에 적용) and  (max-width 가로 해상도가 767px 작은 화면에 적용) */
@media ( min-width : 576px) and (max-width: 767px) {
   
   
   
}

/* (min-width 가로 해상도가 768px 보다 큰 화면에 적용) and  (max-width 가로 해상도가 991px 작은 화면에 적용) */
@media ( min-width : 768px) and (max-width: 991px) {
   
   
   
}

/* (min-width 가로 해상도가 992px 보다 큰 화면에 적용) and  (max-width 가로 해상도가 1199px 작은 화면에 적용) */
@media ( min-width : 992px) and (max-width: 1199px) {
   
   
   
}

/* (min-width 가로 해상도가 1200px 보다 큰 화면에 적용) and  (max-width 가로 해상도가 1399px 작은 화면에 적용) */
@media ( min-width : 1200px) and (max-width: 1399px) {
   
}

/* (min-width 가로 해상도가 1400px 보다 큰 화면에 적용) and  (max-width 가로 해상도가 1532px 작은 화면에 적용) */
@media ( min-width : 1400px) and (max-width: 1532px) {
   
   
   
}

/* (min-width 가로 해상도가 1600px 보다 큰 화면에 적용) and  (max-width 가로 해상도가 1799px 작은 화면에 적용) */
@media ( min-width : 1533px) and (max-width: 1799px) {
   
   
   
}

@media ( min-width : 1800px) {
   
   
}
